body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 20px;
  background: linear-gradient(to bottom, #000000, #FF0000);
  background-size: cover; /* Ensure the gradient covers the entire viewport */
  color: #fff;
}


.search-container {
  text-align: center;
  margin-bottom: 20px;
}

.search-input {
  padding: 12px;
  width: 300px;
  border: none;
  border-radius: 25px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
}

.item-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.item {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  font-size: 18px;
  color: #fff;
  transition: transform 0.2s ease-in-out;
}

.item:hover {
  transform: translateY(-5px);
}

.search-input:focus {
  outline: none;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}
